@{
    ViewData["Title"] = "Index";
}

 

<div class="container mt-4">
    <h3 class="text-center">Pós-graduação em Arquitetura de Software</h3>
    <h3 class="text-center">Desafio Final - Projetar uma API REST seguindo o padrão arquitetural MVC</h3>

    <h4 class="mt-4">Objetivo</h4>
    <p>Exercitar os seguintes conceitos trabalhados nos módulos:</p>
    <ul class="list-group">
        <li class="list-group-item">1. Fundamentos de Arquitetura de Software.</li>
        <li class="list-group-item">2. Requisitos Arquiteturais e Modelagem Arquitetural.</li>
        <li class="list-group-item">3. Design Patterns, Estilos e Padrões Arquiteturais.</li>
        <li class="list-group-item">4. Principais Arquiteturas de Software da Atualidade.</li>
    </ul>

    <h4 class="mt-4">Enunciado</h4>
    <p>Você é <strong>Arquiteto(a) de Software</strong> em uma grande empresa de vendas on-line.</p>
    <p>Seu desafio é construir e implantar uma solução que disponibilize publicamente dados de <strong>Cliente/Produto/Pedido</strong> (ou outro domínio relevante) aos parceiros da empresa.</p>

    <p>Para isso, você deve:</p>
    <ul>
        <li>Projetar uma API REST seguindo o padrão arquitetural <strong>MVC</strong>.</li>
        <li>Documentar a solução.</li>
        <li>Implementar um endpoint que permita realizar operações de <strong>CRUD</strong> e funcionalidades adicionais.</li>
    </ul>

</div>