@model GestaoPedido.Dominio.Entidade.Fornecedor
@{
    ViewData["Title"] = "Incluir";
}

<div class="container mt-5">
    <div class="shadow-sm p-4 bg-white rounded">
        <form asp-controller="Fornecedor"
              asp-action="Incluir"
              method="post"
              class="needs-validation"
              novalidate>

            @if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                    @TempData["MensagemErro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            }

            <div class="text-center mb-4">
                <h1 class="display-6 text-primary">Formulário de Inserção</h1>
            </div>

            <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label for="Nome" class="form-label">Nome:</label>
                    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome" required />
                    @Html.ValidationMessageFor(a => a.Nome, null, new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label for="Documento" class="form-label">Documento:</label>
                    <input type="text" asp-for="Documento" class="form-control" placeholder="Digite o documento" required />
                    @Html.ValidationMessageFor(a => a.Documento, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-flex justify-content-sm-between gap-2">
                <a class="btn btn-outline-secondary"
                   asp-controller="Fornecedor"
                   asp-action="Index"
                   role="button">Cancelar</a>

                <button type="submit"     class="btn btn-outline-primary">Gravar</button>
            </div>

        </form>
    </div>
</div>
